.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/9565965/pexels-photo-9565965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
  }
  
  .registerTitle {
    font-size: 50px;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #B22222;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  

  #error1 {
    color: red;
    position: absolute;
    margin-top: 74px;
    font-size: 14px;
}

  #error2 {
    color: red;
    position: absolute;
    margin-top: 158px;
    font-size: 14px;
}



  #error3 {
    color: red;
    position: absolute;
    margin-top: 248px;
    font-size: 14px;

}



  #error4 {
    color: red;
    position: absolute;
    margin-top: 328px;
    font-size: 14px;
}



  #error5 {
    color: red;
    position: absolute;
    margin-top: 416px;
    font-size: 14px;
}



